body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 7fr;
  grid-template-areas: "header " "main";
}

header{
  grid-area: header;
  text-align: center;
  text-transform: uppercase;
  background-color: dodgerblue;
}

main {
  grid-area: main;
}

#scene {
  border-color: dodgerblue;
  border: solid;
  width: 960px;
  height: 600px;
  margin: 0px auto;
  margin-top: 30px;
  margin-bottom: 30px;
  position: relative;
}

h1 {
  font-family: monospace;
  font-size: 2.7em;
}

#raquette {
  position: absolute;
  width: 96px;
  height: 16px;
  background-color: dodgerblue;
  bottom: 0px;
}

#balle {
  background-color: dodgerblue;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  bottom: 0px;
  position: absolute;
}

.brick {
  background-image: url("BleuWall.jpeg");
  position: absolute;
  box-sizing: border-box;
  border: 3px outset lightsteelblue;
}

#pointArea {
  background-color: whitesmoke;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 2em;
}

#message {
  color: dodgerblue;
  margin-top: 300px;
  text-align: center;
  font-size: 2.5em;
}

#lifeArea {
  font-size: 1.5em;
  background-color: whitesmoke;
}

#status {
  background-color: whitesmoke;
  margin-top: 350px;
}

#level {
  font-size: 1.5em;
  margin-left: 1000px;
  border-radius: 50%;
}
